body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    color: rgb(0, 0,0);
}

p {
    /* color: rgba(0,0,0,0.5); */
    color: #0000F0FF; /* Hex: #red green blue alpha */
    /* can use #000 or #FFF cause same pairs #888 -> #888888*/
}


/* https://coolors.co/contrast-checker */



